<footer>
    <p>© 2025 TecnoHack. Todos los derechos reservados.</p>
    <div class="social-links">
      <a href="https://www.tiktok.com/@tecnohackes?_t=ZN-8umnrGnoibS&_r=1" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
        {% include icons/tiktok-brands.svg %} TikTok
      </a>
      <a href="https://www.reddit.com/r/TecnoHack_/s/Ae3Q18zt4y" target="_blank" rel="noopener noreferrer" aria-label="Reddit">
        {% include icons/reddit-brands.svg %} Reddit
      </a>
      <a href="https://x.com/tecnohack_es?s=21" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
        {% include icons/twitter-brands.svg %} Twitter
      </a>
    </div>
  </footer>
