/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #3498db;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header */
  header {
    background-color: #3498db;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .header-container p {
    font-size: 1.2em;
  }
  
  /* Main Content */
  main {
    padding: 40px 10%;
  }
  
  .intro {
    margin-bottom: 40px;
  }
  
  .intro h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .intro p {
    font-size: 1.2em;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-nav li {
    margin: 5px 0;
  }
  
  .site-map ul {
    list-style-type: none;
    padding: 0;
  }
  
  .site-map li {
    margin: 5px 0;
  }
  
  .site-map h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-nav, .site-map {
      margin-bottom: 20px;
    }
  }
  