/* Cambiar el fondo */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Cambiar el color del título principal */
h1 {
  color: #2c3e50;
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
}

/* Personalizar los subtítulos */
h2 {
  color: #3498db;
  font-size: 2em;
  margin-top: 20px;
}

/* Estilo para el párrafo de bienvenida */
p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.5;
  text-align: center;
  padding: 0 20px;
}

/* Botones personalizados */
button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
