<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}../assets/css/default.css">
    <link rel="stylesheet" href="{{ site.baseurl }}../assets/css/articulos.css">
</head>
<body>

         <header>
            <div class="container">
                <h1>TecnoHack</h1>
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/sobre-nosotros/">Sobre Nosotros</a></li>
                        <li><a href="/contacto/marcos">Contacto</a></li>
                        <li><a href="#">Redes Sociales</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <article>
        {{ content }}
    </article>

    <footer>
        <p>© 2025 TecnoHack. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
