<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>
  <!-- Header -->
  <header>
    <div class="header-container">
      <h1>{{ site.title }}</h1>
      <p>Bienvenido a TecnoHack-es: Tu portal sobre hacking ético y ciberseguridad</p>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <section class="intro">
      <h2>¿Qué hacemos en TecnoHack-es?</h2>
      <p>En este blog, nos apasiona la ciberseguridad, el hacking ético, y la protección de datos. Nuestro objetivo es
        proporcionarte las mejores guías, tutoriales, y consejos sobre cómo protegerte en línea y explorar el mundo del
        hacking de manera ética.</p>
    </section>

    <!-- Aquí puedes añadir más secciones o artículos -->
    <section class="articles">
      {{ content }}
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-container">
      <nav class="footer-nav">
        <ul>
          <li><a href="/sobre-nosotros.md">Sobre Nosotros</a></li>
          <li><a href="/contacto.md">Contacto</a></li>
          <li><a href="/rss.md">RSS</a></li>
        </ul>
      </nav>
      <div class="site-map">
        <h3>Mapa del sitio</h3>
        <ul>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">RSS</a></li>            
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>
