<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </header>
  
  <main>
    {{ content }}  <!-- Esto es donde se inyecta el contenido de tus páginas -->
  </main>
  
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} - TecnoHack-es</p>
  </footer>
</body>
</html>
