<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}../../assets/css/default.css">
    <link rel="stylesheet" href="{{ site.baseurl }}../../assets/css/articulos.css">
    <link rel="icon" href="{{ '/includes/imagenes/logo.png' | relative_url }}" type="image/png">
    {% seo %}
</head>
<body>

    {% include header.html %}

    <article>
        {{ content }}
    </article>

    {% include footer.html %}

</body>
</html>
